.container{
	text-align:left;
	padding-bottom:0%;
	text-shadow:0px 4px 3px rgba(0,0,0,0.4),
	            0px 8px 13px rgba(0,0,0,0.1),
	            0px 18px 23px rgba(0,0,0,0.1); 
}

body{
	background-color: blue;
	background:rgba(0,0,500,0.61);
	background-size:  cover;
	background-position: center;
	font-family: Loto;
}

html{
	 height:200%;

}
.cen{
	padding-bottom: 1%;
	font-size: 70px;
	text-align: center;
	margin-bottom:-30px;
}
.head{
	padding-right:50%;
	text-align:left;
}
.p{
	color: #00344c;
	padding-top: 7%;
	font-size: 10px;
}
.container{
	padding-top: 10px
	padding-bottom: 200px
}
   
 h4{
 	color: #00344c;
 }
 .pa{
 	color: #00344c;
 	padding-top: 10px;
 }

	.jumbotron {
    
	
	background-image:url(https://images.pexels.com/photos/235994/pexels-photo-235994.jpeg?w=1500&h=850&auto=compress&cs=tinysrgb);
    opacity: 1;
    padding-bottom: 0px
}
#pad{
	padding-top: 0%;
	padding-bottom: 1%;
}
.im{
	margin-left: 80%;
	margin-top:-2%; 
	margin-bottom:8.5%;
     padding-left: 0%;
}
hr{
	width: 500px;
	border-top:1px solid #f8f8f8;
	border-bottom: 1px solid rbg(0,0,0,0.2);   
}
p{

	padding-left: 1.5%;
	font-weight: ;
	color: white;
}
#content1{
text-align:center;
	padding-top: 17%;
	text-shadow:0px 4px 3px rgba(0,0,0,0.4),
	            0px 8px 13px rgba(0,0,0,0.1),
	            0px 18px 23px rgba(0,0,0,0.1); 
}	
}
.navbar-inverse .navbar-dark
{
background-color: #F8F8F8;
}

h1{
	color: white;
	font-weight: 700;
	font-size: 5em;
}
/*footer{
	position:absolute;
	bottom: 0px;
	width: 100%;
	height: 50px;
}*/
footer{
	display: table-row;
}

.containerx{
	text-align:center;
	padding-top: 5%;

	}
h2{
    font-size: 35px;
	text-shadow:0px 4px 3px rgba(0,0,0,0.4),
	            0px 8px 13px rgba(0,0,0,0.1),
	            0px 18px 23px rgba(0,0,0,0.1); 
}
.qwe{
	padding-top: 2%;
	color: black;
	font-size: 25px;
}
#ta{
text-align: center;
	padding-top: 8%;
	padding-left:  %;
	

}
.Hr{
    padding-top: 5%;
    padding-right: 5%;
	text-align: center;
}
.in{
	text-align: center;
	font-size: 20px;
	font-weight: 10px;
}
.pp{
	color: black;
	padding-top: 2%
}
.x{
	width: 80%;
	padding-top: 3%;
	padding-bottom: 2%;
	lighting-color: blue;
	border-top:3.5px solid #f8f8f8;
	border-bottom: 3px solid rbg(0,0,0,0.3); 
}
.containerxx{
	text-align: center;
	padding-top:-100%;
	padding-bottom: 10%;
	font-size: 25px;
}
.footer{
	padding-bottom:3%; 
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60%;
	background-color: rgba(0,0,0,0.8);
	color: white;
	text-align: left;
}
#add{
	padding-top: 0%;

}
h5{
	color: gray;
}
h4{
	color: gray;
}
#bar{
	padding-top: 1.5%;
	text-align: center;
	color: gray;

}

#addd{
	margin-top: 8%;
	text-align: left;
}
.center{
	text-align: center;
	padding-left:0;
	padding-right: 40%;
	margin-bottom: -10%;
	margin-right: -35%;
}
#right{
	margin-left: -10%;
	text-align: right;
	padding-left: 20%;
}
#cen{
margin-left: -10%; 
	margin-top: -6.2%;
}
